@charset "UTF-8";
/* CSS Document */

/* Button */
.btn {
    padding: 8px 25px 5px 25px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background: #969696;
    line-height: 1.5;
    text-align: center;
	margin: 2px 0 4px 0;
    border: none;
    position: relative;
    border-radius: 5px;
    border-bottom: 3px #797979 solid;
    transition: all 0.3s ease;
}

.btn:hover {
    color: #ffffff;
    transform: translate(0, -3px);
    -webkit-box-shadow: 0px 7px 8px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 8px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 8px -10px rgba(0,0,0,0.75);
}

.btn.conversion {
	background: #f58423;
	border-bottom-color: #dd6335;
}
.btn.learn-more {
	background: #77a843;
	border-bottom-color: #547f3b;
}

/* Links */
.entry-content .link, .entry-content .anchor{
	color: #016d9b;
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline;
}
.entry-content .link:visited, .entry-content .anchor:visited{
	color: #016d9b;
}
.entry-content .link.further-reading{
	color: #ff9900;
}
.tooltip .tooltip-inner {
	border: none;
	background: #e4e8ea;
	max-width: 480px;
	text-overflow: ellipsis;
    white-space: nowrap;
	overflow: hidden;
}
.tooltip.top > .tooltip-arrow {
	width:10px;
	height:10px;
	background:#e4e8ea;
	border:none;
	display:block;
	transform: rotate(45deg);
	z-index:-1;
}

/* Headings */
#page #primary #content .entry-content .h2 {
    color: #993366 !important;
    font-weight: bold;
		margin: 0;
    line-height: 2;
}
#page #primary #content .entry-content .h3{
		color: #156C9A;
		font-weight: bold;
		margin: 0;
    line-height: 2;
}
#page #primary #content .entry-content .h4{
		color: #72A748;
		font-weight: bold;
		margin: 0;
    line-height: 2;
}
#page #primary #content .entry-content .h5{
		font-weight: bold;
}


/* Editorial Code Styles */
.editorial-code {
    display: block;
    background: linear-gradient(0deg, rgba(7,107,156,1) 30%, rgba(255,255,255,1) 60%);
    color: #484848;
    font-size: 14px;
    font-family: 'Noto Sans TC';
    font-weight: normal;
    line-height: 180%;
    padding: 20px 20px 20px;
    margin: 20px 5px;
    border-top-right-radius: 20px;
    overflow: hidden;
    border-bottom-left-radius: 20px;
    transition: 0.5s all ease;
    position: relative;
}
.editorial-code::before {
    content: attr(code-text);
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-family: 'Noto Sans TC';
    font-weight: normal;
    line-height: 180%;
    background: #f5f5f5;
    display: block;
    position: absolute;
    bottom: 5px;
    left: 0;
    padding: 23px 20px 20px;
    color: #484848;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: 0.5s all ease;
}
.editorial-code::after {
    content: "";
    display: block;
    width: 30%;
    height: 15px;
    background: #77aa43;
    position: absolute;
    bottom: -5px;
    right: -10px;
    transform: skew(-30deg);
    transition: 0.5s all ease;
}
.editorial-code:hover::before {background: #e6e6e6 !important;}
.editorial-code:hover::after {
    bottom: 0px;
}

/* Table Styles */
.table-wrapper{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 50px;
    position: relative;
}
.table-wrapper .mh-table{
    box-shadow: 0px 5px 10px rgba( 0, 0, 0, 0.1 );
    border-bottom: 5px;
}
.mh-table {
    font-size: 12px;
	line-height: 150%;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: normal;
    background-color: white;
}
.mh-table td, .mh-table th {
    text-align: center;
    padding: 8px;
}

.mh-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.mh-table thead th {
    color: #ffffff;
    background: #076B9C;
    text-transform: initial;
}

.mh-table thead td {
    background: #0f4f73;
    color: #FFFFFF;
    font-size: 14px;
}
.mh-table tr:nth-child(even) {
    background: #F8F8F8;
}

.mh-table img {
    vertical-align: top;
}

.table-wrapper:after {
    content: "製表：";
    display: block;
    font-size: 12px;
    background: url(https://s3-ap-northeast-1.amazonaws.com/cgblogassets/wp-content/uploads/sites/3/2019/12/03182322/MH-h-logo-color.png);
    height: 22px;
    width: 140px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    right: -8px;
    position: absolute;
    bottom: -35px;
}

/* basic table setting*/
.mh-table .txt-left{
    text-align: left;
}
.mh-table .txt-center{
    text-align: center;
}
.mh-table .txt-right{
    text-align: right;
}
.mh-table a{
    text-decoration: underline;
    font-weight:bold;
}



/* hover row*/

.mh-table.mouse-hover * {
    transition: ease 0.2s;
}
.mh-table.mouse-hover tbody tr:hover td {
    background: #77aa4330;
    color: black;
}
@media (min-width: 768px) {
	.mh-table.mouse-hover tbody tr:hover td {
	    border-color: transparent;
	}
}
@media (max-width: 767px) {
	.mh-table.transpose.mouse-hover tbody tr:hover :nth-child(even) {
        background: #e5efdc40;
	}
	.mh-table.transpose.mouse-hover tbody tr:hover :nth-child(odd) {
        background: #77aa4330;
	}
}

/* Responsive */

@media (max-width: 767px) {
	.table-wrapper {
		margin-left: 8px;
	}
    .mh-table {
        display: block;
        width: 100%;
		overflow-x: scroll;
    }
	.mh-table thead td {
		text-align: left;
		padding-left: 18px;
	}
    .narrow-table .mh-table {
        display: table;
        width: 100%;
    }
    .mh-table.transpose {
        display: block;
        width: 100%;
	overflow-x: visible;
    }
    html:lang(zh-HK) .table-wrapper:before{
        content: "向右拖曳查看更多 >";
        display: block;
        text-align: right;
        font-size: 12px;
        padding: 0 0 10px;
    }
	.narrow-table.table-wrapper:before{
        display: none;
    }
	.mh-table.transpose thead th:nth-child(odd) {
	    color: #ffffff;
	    background: #155072;
	}
    .mh-table.transpose thead, .mh-table.transpose tbody, .mh-table.transpose thead th {
        display: block;
    }
    .mh-table.transpose thead th:last-child{
        border-bottom: none;
    }
    .mh-table.transpose thead {
        float: left;
    }
    .mh-table.transpose tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .mh-table.transpose td, .mh-table.transpose th {
        padding: 10px .625em .625em .625em;
        height: 55px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 150px;
	line-height: 150%;
        font-size: 13px;
        text-overflow: clip;
        white-space: normal;
    }
    .mh-table.transpose th {
	width: 75px;
    }
    .mh-table.transpose .mo-high {
        height: 300px;
    }
    .mh-table.transpose .mo-mid {
        height: 180px;
    }
    .mh-table.transpose .mo-short {
        height: 100px;
    }
    .mh-table.transpose thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .mh-table.transpose tbody tr {
        display: table-cell;
    }
    .mh-table.transpose tbody tr:nth-child(odd) {
        background: none;
    }
    .mh-table.transpose tr:nth-child(even) {
        background: transparent;
    }
    .mh-table.transpose tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .mh-table.transpose tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .mh-table.transpose tbody td {
        display: block;
        text-align: center;
    }
	.mh-table.transpose td, 
	.mh-table.transpose th{
		height: 58px;
	}
	.mh-table.transpose.td1short td:nth-child(1), 
	.mh-table.transpose.td1short th:nth-child(1) {
		height: 38px;
	}
	.mh-table.transpose.td2short td:nth-child(2), 
	.mh-table.transpose.td2short th:nth-child(2) {
		height: 38px;
	}
	.mh-table.transpose.td3short td:nth-child(3), 
	.mh-table.transpose.td3short th:nth-child(3) {
		height: 38px;
	}
	.mh-table.transpose.td4short td:nth-child(4), 
	.mh-table.transpose.td4short th:nth-child(4) {
		height: 38px;
	}
	.mh-table.transpose.td5short td:nth-child(5), 
	.mh-table.transpose.td5short th:nth-child(5) {
		height: 38px;
	}
	.mh-table.transpose.td6short td:nth-child(6), 
	.mh-table.transpose.td6short th:nth-child(6) {
		height: 38px;
	}
	.mh-table.transpose.td7short td:nth-child(7), 
	.mh-table.transpose.td7short th:nth-child(7) {
		height: 38px;
	}
	.mh-table.transpose.td8short td:nth-child(8), 
	.mh-table.transpose.td8short th:nth-child(8) {
		height: 38px;
	}
	.mh-table.transpose.td9short td:nth-child(9), 
	.mh-table.transpose.td9short th:nth-child(9) {
		height: 38px;
	}
	.mh-table.transpose.td10short td:nth-child(10), 
	.mh-table.transpose.td10short th:nth-child(10) {
		height: 38px;
	}
	.mh-table.transpose.td1high td:nth-child(1), 
	.mh-table.transpose.td1high th:nth-child(1) {
		height: 95px;
	}
	.mh-table.transpose.td2high td:nth-child(2), 
	.mh-table.transpose.td2high th:nth-child(2) {
		height: 95px;
	}
	.mh-table.transpose.td3high td:nth-child(3), 
	.mh-table.transpose.td3high th:nth-child(3) {
		height: 95px;
	}
	.mh-table.transpose.td4high td:nth-child(4), 
	.mh-table.transpose.td4high th:nth-child(4) {
		height: 95px;
	}
	.mh-table.transpose.td5high td:nth-child(5), 
	.mh-table.transpose.td5high th:nth-child(5) {
		height: 95px;
	}
	.mh-table.transpose.td6high td:nth-child(6), 
	.mh-table.transpose.td6high th:nth-child(6) {
		height: 95px;
	}
	.mh-table.transpose.td7high td:nth-child(7), 
	.mh-table.transpose.td7high th:nth-child(7) {
		height: 95px;
	}
	.mh-table.transpose.td8high td:nth-child(8), 
	.mh-table.transpose.td8high th:nth-child(8) {
		height: 95px;
	}
	.mh-table.transpose.td9high td:nth-child(9), 
	.mh-table.transpose.td9high th:nth-child(9) {
		height: 95px;
	}
	.mh-table.transpose.td10high td:nth-child(10), 
	.mh-table.transpose.td10high th:nth-child(10) {
		height: 95px;
	}
	.mh-table.transpose.td1higher  td:nth-child(1), 
	.mh-table.transpose.td1higher  th:nth-child(1) {
		height: 180px;
	}
	.mh-table.transpose.td2higher  td:nth-child(2), 
	.mh-table.transpose.td2higher  th:nth-child(2) {
		height: 180px;
	}
	.mh-table.transpose.td3higher  td:nth-child(3), 
	.mh-table.transpose.td3higher  th:nth-child(3) {
		height: 180px;
	}
	.mh-table.transpose.td4higher  td:nth-child(4), 
	.mh-table.transpose.td4higher  th:nth-child(4) {
		height: 180px;
	}
	.mh-table.transpose.td5higher  td:nth-child(5), 
	.mh-table.transpose.td5higher  th:nth-child(5) {
		height: 180px;
	}
	.mh-table.transpose.td6higher  td:nth-child(6), 
	.mh-table.transpose.td6higher  th:nth-child(6) {
		height: 180px;
	}
	.mh-table.transpose.td7higher  td:nth-child(7), 
	.mh-table.transpose.td7higher  th:nth-child(7) {
		height: 180px;
	}
	.mh-table.transpose.td8higher  td:nth-child(8), 
	.mh-table.transpose.td8higher  th:nth-child(8) {
		height: 180px;
	}
	.mh-table.transpose.td9higher  td:nth-child(9), 
	.mh-table.transpose.td9higher  th:nth-child(9) {
		height: 180px;
	}
	.mh-table.transpose.td10higher  td:nth-child(10), 
	.mh-table.transpose.td10higher  th:nth-child(10) {
		height: 180px;
	}
	.mh-table.transpose.td1extra-high  td:nth-child(1), 
	.mh-table.transpose.td1extra-high  th:nth-child(1) {
		height: 300px;
	}
	.mh-table.transpose.td2extra-high  td:nth-child(2), 
	.mh-table.transpose.td2extra-high  th:nth-child(2) {
		height: 300px;
	}
	.mh-table.transpose.td3extra-high  td:nth-child(3), 
	.mh-table.transpose.td3extra-high  th:nth-child(3) {
		height: 300px;
	}
	.mh-table.transpose.td4extra-high  td:nth-child(4), 
	.mh-table.transpose.td4extra-high  th:nth-child(4) {
		height: 300px;
	}
	.mh-table.transpose.td5extra-high  td:nth-child(5), 
	.mh-table.transpose.td5extra-high  th:nth-child(5) {
		height: 300px;
	}
	.mh-table.transpose.td6extra-high  td:nth-child(6), 
	.mh-table.transpose.td6extra-high  th:nth-child(6) {
		height: 300px;
	}
	.mh-table.transpose.td7extra-high  td:nth-child(7), 
	.mh-table.transpose.td7extra-high  th:nth-child(7) {
		height: 300px;
	}
	.mh-table.transpose.td8extra-high  td:nth-child(8), 
	.mh-table.transpose.td8extra-high  th:nth-child(8) {
		height: 300px;
	}
	.mh-table.transpose.td9extra-high  td:nth-child(9), 
	.mh-table.transpose.td9extra-high  th:nth-child(9) {
		height: 300px;
	}
	.mh-table.transpose.td10extra-high  td:nth-child(10), 
	.mh-table.transpose.td10extra-high  th:nth-child(10) {
		height: 300px;
	}
}
/* Sticky Header Styles */
.mh-table.sticky{
overflow-y: scroll;
max-height: 480px;
display: block;
}
.mh-table.sticky th{
position: sticky;
top: 0;
}
.mh-table.sticky tfoot td {
    width: 999px;
    background: #F8F8F8;
    height: 50px;
}
.mh-table.sticky::after {
    content: " 拖曳查看更多";
    font-family: IcoFont, arial;
    display: flex;
    width: calc(100% - 5px);
    height: 50px;
    background: linear-gradient(0deg, rgba(248,248,248,1) 0%, rgba(248,248,248,0.8) 50%, rgba(248,248,248,0) 90%);
    position: absolute;
    bottom: 0;
    color: grey;
    font-size: 13px;
    letter-spacing: 2px;
    vertical-align: text-bottom;
    justify-content: center;
    align-items: flex-end;
}
@media (min-width: 768px){
.mh-table.sticky::-webkit-scrollbar {
    width: 5px;
	height: 5px;
}
.mh-table.sticky::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3); 
}
.mh-table.sticky::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background:lightgrey;
}
}
@media (max-width: 767px){
.table-wrapper.sticky{
    margin-left: 8px;
    margin-right: -12px;
}
.mh-table.sticky::after {
    width: 100%;
}
}
/* Expand Table */
button.expand-table {
    margin: -50px auto 20px auto;
    display: block;
    border: none;
    z-index: 999;
    color: #666;
    padding: 10px 50px;
    border-radius: 0 0 20px 20px;
    transition: 0.5s all ease;
}
button.expand-table:focus {
    outline: -webkit-focus-ring-color auto 0;
    outline-width: 0;
}
button.expand-table:hover{
    background:#77aa4330;
}
button.expand-table.closed::after{
    content:"展開";
}
button.expand-table.closed
 span{
    display:none;
}
@media (max-width: 767px) {
button.expand-table {
    margin: -50px 0 20px 8px;
}}

/* alt-color-tbody*/
.mh-table.alt-color-tbody tr{
    background: none;
}
.mh-table.alt-color-tbody tbody:nth-child(odd) {
    background: #F8F8F8;
}
.mh-table.alt-color-tbody tbody:nth-child(even) {
    background: #fff;
}
.mh-table.alt-color-tbody.mouse-hover tbody:hover td {
    background: #77aa4330;
    color: black;
}
/* searchable table */
input.searchable-input{
    width: 100%;
    font-size: 14px;
    padding: 12px 20px 12px 10px;
    border: none;
    border-bottom: 1px solid #ddd;
    margin-bottom: 12px;
    font-family: 'icofont';
    border-radius: 0;
	color: #333
}
input.searchable-input:focus {
	outline: none;
	background: #fafafa;
}
input.searchable-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #993366;
  opacity: 1; /* Firefox */
}
input.searchable-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #993366;
}
input.searchable-input::-ms-input-placeholder { /* Microsoft Edge */
  color: #993366;
}
/*left column header*/
table.mh-table.left-col-head td:first-child {font-weight: bold;color: black;font-size: 14px;border-right: 2px dotted #dddddd;}
